*{
    padding: 0px;
    margin: 2px;
    font-family: sans-serif;
    line-height: 1.5;
    box-sizing: border-box;
}
body{
    text-align: center;
    color: white;
    background-color: #0d1b2a;
    box-sizing:border-box;

}
#header{
    background-color: #1b263b;
    color: white;
    display: flex;
    justify-content: space-evenly;
    border-radius: 40px;
    box-shadow: none;
    transition: box-shadow 0.3s ease;
    
}
#logo{
    width: 40px;
    height: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: oblique;
    font-size: 30px;
    line-height: 0.5;
    position: relative;
    top: 10px;
    /*background-image: url();
    background-size: cover;*/
    
}
nav ul{
    height: 10%;
    width: auto;
    border-radius: 10px;
    position: relative;
}
nav ul li{
    padding-left: 20px;
    display: inline-block;
    list-style-type: none;
}
nav ul li a{
    display: block;
    color: white;
    font-size: 18px;
    text-decoration: none;
    padding: 12px 25px;
}
nav ul li a:hover{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    color: rgb(1,1, 23);
}
#git img{
    height: 40px;
    position: relative;
    right: 10px;
    padding-top: 10%;
}
#header:hover{
    box-shadow: 0px 20px 30px #778da9;
    transition-delay: 0.0001s;
}
#slide-pic{
    height: 250px;
    width: 100vw;
    background-image: url(assets/Img2.jpg);
    background-size: cover;
    background-position: 0px -200px;
    
    box-shadow: 0px 2px 10px black;
    margin: 0px;
    position: relative;
    top: -64px;
    left: -4px;
    z-index:-1;
}
.content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.content div{
    display: inline-block;
}
.profile{
    height:400px;
    width: 400px;
    background-image: url(assets/profile.jpeg);
    background-size: cover;
    border-radius: 50%;
    background-position: 0px;
    transition: box-shadow 0.3s ease;
    
}
.textcontent{
    padding: 6px 6px 6px 6px;
    font-size: 30px;
}
.texthlt{
    color: #e0e1dd;
    font-size: 60px;
}
/*#profile{
    height: 400px;
    width: 400px;
    display: inline-block;
    background-image: url(assets/profile.jpeg);
    background-size: cover;
    background-position: 0px;
    border-radius: 50%;
    float: right;
    transition: height width 0.3s ease;
}*/
.profile:hover{
    box-shadow: 10px 10px 20px #778da9;
}
#bodycontent{
    color: white;
}
footer{
    height: 50px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color:#e0e1dd;
    font-size: 15px;
    padding: 15px 0px;
    z-index: 1;
    margin-left: 0px;
}